.block-search {
    float: right;
    padding-left: 15px;
    position: relative;
    width: 250px;
    z-index: 4;
    margin-top: -68px;
}

.header.panel>.header.links {
	float: left;
	list-style: none none;
	margin-left: 0px;
	margin-left: auto;
	margin: 0;
	padding: 0;
}
// Color variables (appears count calculates by raw css)
@color0: #2e2e2e; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width5: 70%; // Appears 2 times


.nav-sections {
	background: #f0f0f000;
}
.header.panel>.header.links>li>a {
	color: black;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: .5px;
	line-height: 1.4;
}
.page-header {
	.panel.wrapper {
		background-color: #fbfaf6;
		border-bottom: 1px solid #e8e8e8;
	}
}
.header.panel>.header.links>li {
	margin: 0 0 0 18px;
	&:after {
		border-right: 1px solid #c2c2c0;
		content: '|';
		font-size: 10px;
		padding: 0 1rem;
	}
}
.navigation {
	background: black;
	font-weight: 700;
	height: inherit;
	left: auto;
	margin-left: 303px;
	overflow: inherit;
	padding-bottom: 8px;
	padding-top: 6px;
	padding: 0;
	position: relative;
	top: 0;
	width: 51%;
	z-index: 3;
	.level0>.level-top {
		color: white;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 47px;
		&:after {
			border-right: 1px dashed red;
			content: '';
			padding: 0 2rem;
		}
	}
	.level0.parent>.level-top>.ui-menu-icon {
		display: inline-block;
		display: none;
		position: absolute;
		right: 0;
		text-decoration: none;
	}
}
.logo {
	img {
		height: 90px;
		max-height: inherit;
		width: 325px;
	}
}
#login_link {
	margin-left: 112px;
}
#link1 {
	color: black;
	font-size: 16px;
	margin-right: 15px;
}
#link2 {
	color: black;
	font-size: 16px;
}
#h_link {
	display: inline-flex;
	margin-right: 24px;
	margin-top: 10px;
}
#lock {
	height: 20px;
	margin-right: 159px;
	position: absolute;
	right: 0px;
	top: 47px;
}
.menu {
	float: right;
	margin-top: 15px;
}
.minicart-wrapper {
	background: red;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-left: 0px;
	margin-right: 302px;
	margin-right: 78px;
	margin-top: -36px;
	margin-top: -61px;
	padding-bottom: 20px;
	padding-right: 40px;
	padding-top: 20px;
}
.greet.welcome {
	float: right;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: .5px;
	list-style: none;
	margin-right: -81px;
	margin-top: 15px;
}
#login {
	color: black;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: .5px;
	margin-left: 11px;
}
#cart {
	margin-right: 10px;
	padding-left: 36px;
}
.text {
	color: white;
	font-weight: 600;
}
.footer.links {
	font-weight: 600;
	list-style: none;
	margin-top: 15px;
	margin: auto;
	width: 67%;
}
.nav.item {
	display: inline;
	margin-left: 20px;
	a {
		color: black;
		display: inline;
		margin-left: 20px;
	}
	&:after {
		border-right: 1px solid black;
		content: '';
		padding: 0 1rem;
	}
}
.copyright {
	background-color: #ffffff;
	box-sizing: border-box;
	color: black;
	display: block;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .5px;
	padding: 10px;
	text-align: center;
}
.page-footer {
	background: #39362f;
	margin-top: auto;
	padding-bottom: 25px;
}
.footer.content {
	border-top: 1px solid #cecece;
	padding-top: 0px;
	.block {
		float: left;
		margin-top: 10px;
	}
}
.block.newsletter {
	.field {
		.control {
			&: {
				before {
					display: none;
					position: absolute;
				}
			}
		}
	}
	.title {
		color: white;
		display: unset;
	}
	input {
		background: #29231c;
		border-style: none;
		margin-right: 8px;
		margin-top: 10px;
		padding: 24px 0 20px 10px;
		width: 315px;
	}
	.action.subscribe {
		background: #ff1929;
		border-bottom-left-radius: 0;
		border-style: none;
		border-top-left-radius: 0;
		margin-left: 10px;
		margin-top: 10px;
		padding-bottom: 14px;
		padding-top: 14px;
		white-space: nowrap;
	}
}
div.mage-error[generated] {
	color: #7e776c;
	font-size: 1.2rem;
	font-weight: 600;
}
.block {
	.title {
		strong {
			font-size: 2.2rem;
			font-weight: 600;
			line-height: 1.1;
			margin-bottom: 2rem;
			margin-top: 2rem;
		}
	}
}
#img1 {
	float: left;
}
#divider {
	margin-left: 65px;
	margin-top: 20px;
}
#shop {
	height: 112px;
	margin-bottom: 21px;
	margin-left: 70px;
}
.follow {
	color: white;
	float: left;
	font-size: 20px;
	font-weight: 600;
	margin-left: 100px;
	margin-top: 20px;
}
#social {
	float: left;
}
.icn {
	margin-left: 50px;
	margin-top: 65px;
	img {
		margin-right: 17px;
	}
}
.flag-icon-ar {
	margin-right: 150px;
}
.product {
	width: 100%;
}
.widget1 {
	float: left;
	width: @width5;
	.slider-product-item-info {
		width: 93%;
	}
}
.cart_counter {
	background: blue;
	float: right;
	height: auto;
	margin-left: 2%;
	width: 28%;
}
.new_pro {
	border: 1px solid black;
	width: @width5;
}
.kids {
	display: inline;
}
.men {
	display: inline;
}
.women {
	display: inline;
}
.slogan {
	display: inline;
	margin-right: 16%;
}
#id {
	margin-left: 2.5%;
}
div#kids {
	margin-left: 2%;
}
.widget2 {
	margin-left: 3%;
	width: 95%;
	.block-content {
		margin-top: -15%;
	}
}
.mp-ps-info {
	color: black;
	font-size: 1em;
	margin: 6px 0px 10px 0px;
}
.owl-theme {
	.owl-nav.disabled+.owl-dots {
		display: none;
		margin-top: 10px;
	}
}
div#women {
	margin-left: 5%;
}
div#men {
	margin-left: 5%;
}
p.ban2 {
	color: red;
	font-size: 1.5em;
	font-weight: 600;
}
.panel.header {
	.switcher {
		display: inline-block;
		margin-right: 5%;
	}
}
.heading {
	background: red;
	color: white;
	font-size: 1.4em;
	font-weight: 600;
	padding-left: 5%;
	padding-top: 1%;
}
.counter {
	background: red;
	color: white;
	font-size: 1.2em;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-top: 2%;
}
.compare {
	background: @color0;
	color: white;
	font-size: 1.4em;
	font-weight: 600;
	margin-top: 5%;
	padding-left: 5%;
	padding-top: 2%;
}
.compare_count {
	background: @color0;
	color: white;
	font-size: 1.2em;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-top: 2%;
}